* {
  box-sizing: border-box;
}
/* body wrap to center content */

body {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
}

#imageDisplay {
  position: relative;
  width: 1000px;
}

img {
  position: relative;
  float: left;
  padding-right: 30px;
  padding-top: 30px;
  margin: 0 auto;
  height: 40%;

}

#buttonContainer {
  margin-top: 400px;
}

button {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #59BD98;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}

#chartHolder {
  margin: 0 auto;
  padding-bottom: 30px;
}
#percentageChartHolder{
  margin: 0 auto;

}

h1, h2 {
  font-family: "Futura", sans-serif;
  text-align: center;
}

p {
  text-align: left;
}
